@import url('global.css');

.stuff-section {
  padding: 0 0 9.6rem 0;
  background-color: var(--color-background-white);
  position: relative;
  overflow-x: hidden;
}
.stuff-container {
  max-width: 89.6rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
.employees {
  display: flex;
  gap: 6.4rem;
}

.employee-img {
  height: 25rem;
  width: 25rem;
  background-position: center;
  background-size: cover;
  display: block;
  margin-bottom: 2.4rem;
}
.employee-01 {
  background-image: url('../img/stuff/stuff-01.jpg');
}
.employee-02 {
  background-image: url('../img/stuff/stuff-02.jpg');
}
.employee-03 {
  background-image: url('../img/stuff/stuff-03.jpg');
}
.employee-name {
  font-size: var(--font-24);
  font-family: var(--font-vidaloka);
  color: var(--color-text);
  margin-bottom: 0.8rem;
}
.employee-role {
  font-size: var(--font-20);
  font-family: var(--font-inter);
  font-weight: 400;
  color: var(--color-text);
  margin-bottom: 2.4rem;
  opacity: 55%;
}
.employee-description {
  font-size: var(--font-18);
  font-family: var(--font-ubuntu);
  font-weight: 400;
  color: var(--color-text);
  line-height: 150%;
  letter-spacing: 0;
  opacity: 80%;
}
/* .coffee-bens-right {
  width: 379.706px;
  height: 278.032px;
  transform: rotate(-79.006deg);
  position: absolute;
  right: -96px;
  top: 20%;
  filter: blur(1.75px);
  z-index: 1;
}
.coffee-bens-left {
  width: 632.853px;
  height: 374.026px;
  transform: rotate(99.019deg);
  position: absolute;
  left: -200px;
  top: 20%;
  filter: blur(1.75px);
  z-index: 1;
} */
